
.stil1{
    color:cyan;
    font-size: 4rem;
}
.stil2{
    font-variant: small-caps;
    font-style: normal;
}
p{
    font-size: 1.5rem;
    font-style: oblique;
}
.buton {

    transition: background-color 0.8s ease;
    }
    .buton:hover {
    background-color: red;
    animation: miscare 3s infinite;
    }
    @keyframes miscare {
        0% {
            transform: translateX(0);
            background-color: red;
        }
        50% {
            transform: translateX(50px);
            background-color: blue;
        }
        100% {
            transform: translateX(0);
            background-color: green;
        }
    }
    .fade {
        background-color: blue;
        transition: opacity 0.3s ease-in-out; /* Optional: Smooth transition on opacity change */
    }
    
    .fade:hover {
        animation: fadeAnimation 1s infinite;
    }
    
    @keyframes fadeAnimation {
        0% { opacity: 1; }
        50% { opacity: 0.2; }
        100% { opacity: 1; }
    }